// Place all the styles related to the api/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.genres{
    position: relative;
    top: 600px;
    margin: 25px;
}
.genreList{
    display: flex;
}