// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-item{
    img{
        height: 150px;
        width: 300px;
        padding: 2.5px;
    }
   
}