.session-wrapper{
    display: flex;
    flex-direction: column;
    background: 
        radial-gradient(circle,
            rgba(0, 0, 0, 0), 
             rgba(0, 0, 0, 1), 
        ),
        image-url("background.png");
    height: 900px;
    color: white;
}

.modal{
    // position: absolute;
    // left: 300px;
    // top: 250px;
    position: relative;
    margin: 30px auto;
    width: 350px;
    height: 500px;
    padding: 5px;
    background: rgba(0, 0, 0, .75);
    border: .25px rgba(0, 0, 0, .75);
    border-radius: 3px;
}

.session-form{
    margin: 35px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    h1{
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: bold;
    }
    button{
    width: 100%;
    height: 40px;
    font-size: 12px;
    border: .5px solid rgb(229, 9, 20);
    background:rgb(229, 9, 20);
    color: white;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    margin: 8px 0px 0px;
    padding: 2px 5px;
    }
    button:hover{
        cursor: pointer;
    }
}

.session-input{
    background: rgb(51, 51, 51);
    border: .25px rgba(0, 0, 0, .85);
    border-radius: 3px;
    label{
        font-size: 10px;
        color: rgb(140,140,140);
        border-radius: 3px;
        padding: 0px 15px;
        margin: 0px 5px;
        margin-bottom: -5px;
    }
    input{
            width: 87%;
            color: white;
            font-size: 12px;
            background: rgb(51, 51, 51);
            border-radius: 3px;
            padding: 5px 15px;
            margin: 0px 5px;
    }
}

.session-link{
    position: absolute;
    bottom: 0px;
    color: rgb(140,140,140);
    font-size: 16px;
    margin: 35px;

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        cursor: pointer;
    }
}



.errors-list{
    width: 87%;
    color: white;
    font-size: 10px;
    background: rgb(232, 124, 3);
    border-radius: 3px;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.demo{
    width: 280px;
    height: 40px;
    font-size: 12px;
    border: .5px solid rgb(229, 9, 20);
    background:rgb(229, 9, 20);
    color: white;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    margin-left: 35px;
    padding: 2px 5px;
}

.demo:hover{
    cursor: pointer;
}